html {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

/* Set containers and flexbox attributes */
/* Set header banner */
a {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.v-center {
  align-items: center;
}

.between {
  justify-content: space-between;
}

header {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 1rem;
}

#top-bar {
  height: 3rem;
  background-color: cadetblue;
  color: white;
}

header img {
  margin: 0 1rem 0 2rem;
  height: 1.5rem;
}

.mobile {
  display: none;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
}

#hero-text {
  position: relative;
  left: 2rem;
  margin-top: 10rem;
  justify-content: flex-end;
}

/* End header banner */
.flex-col {
  flex-direction: column;
}

#usp {
  height: 14rem;
  justify-content: center;
}

.company-usp {
  height: 8rem;
  width: 5rem;
  margin: 3rem;
  align-items: center;
  text-align: center;
}

.company-usp img {
  width: 5rem;
}

#usp .paper {
  width: 3.5rem;
}

.company-info {
  width: 35%;
  margin: 0 2.5% 5rem 2.5%;
}

#info {
  justify-content: center;
}

h2 {
  width: 10rem;
  font-weight: bold;
  color: white;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

footer {
  height: 9.5rem;
  background-color: azure;
}

footer img {
  height: 1.5rem;
  margin: 4rem 1rem 4rem 4rem;
}

/* Tablet devices */
@media only screen and (max-width: 960px) {
  .container {
    min-width: 250px;
    max-width: 100%;
  }

  header {
    padding-top: 0;
    height: 22rem;
  }

  h1 {
    font-size: 1.33rem;
    padding: auto;
  }

  #hero-text {
    left: -2rem;
    margin-top: 5rem;
  }
}

/* Mobile devices */
@media only screen and (max-width: 620px) {
  .mobile {
    display: block;
  }

  .responsive {
    display: none;
  }

  header {
    height: 17rem;
    background-position: 20%;
  }

  h1 {
    font-size: 1rem;
    padding: 1rem 0;
  }

  #hero-text {
    justify-content: center;
    left: auto;
    background-color: white;
    margin: 9rem auto 0 auto;
  }

  .branding span {
    display: none;
  }

  #usp {
    flex-direction: column;
    font-size: .77rem;
    padding: 3rem 0;
    height: auto;
    align-items: center;
  }

  .company-usp {
    margin: .77rem 0;
    height: auto;
  }

  .usp-title {
    margin-top: 1rem;
  }

  #info {
    flex-direction: column;
    align-items: center;
    font-size: .77rem;
  }

  .company-info {
    width: auto;
    margin: 0 auto;

  }

  h2 {
    text-align: center;
    width: auto;
  }

  .info {
    padding: 0 .5rem 4rem .5rem;
  }

  footer span {
    display: none;
  }

  footer img {
  margin: 0 auto;
  }

}
